.reveal, .reveal2 {
    width: 50px;
    height: 50px;
    background-color: #C25747;
    background-image: url('../img/info.png');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 30px;
    border-radius: 50%;
    margin-left: 0;
    text-align: center;
    cursor: pointer;
    transition: height .3s ease-in-out, width .3s ease-in-out, border-radius .3s ease-in-out, margin .3s ease-in-out;
    border-radius: 50px;
}

.reveal > img {
  width: 50px;
  margin: 15px 0;
}

.reveal-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -100%;
    margin-left: -100%;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: #2D303F;
    opacity: 0;
    text-align: left;
    pointer-events: none;
    transition: opacity .01s ease-in-out;
    border-radius: 0px;
    z-index: 1;
    padding: 0;
}

.cardhero {
    width: 100% !important;
}

.reveal-content img {
    width: 100vw;
    opacity: 0;
    transition: width .01s ease-in-out, opacity .01s ease-in-out;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 100%);
}

    .reveal-content p {
        margin: 10px 0;
        color: #2d2d2d;
        margin-top: -20px;
        opacity: 0;
        transition: margin .01s ease-in-out, opacity .01s ease-in-out;
        border-radius: 49px;
    }

.reveal:hover {
  width: 180px;
  height: 240px;
  border-radius: 5px;
  margin-left: -50px;
}

.reveal:hover .reveal-content {
  opacity: 1;
  pointer-events: all;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity .3s ease-in-out .3s;
}

.reveal:hover .reveal-content img {
  width: 160px;
  opacity: 1;
  transition: width .3s ease-in-out .4s,
              opacity .3s ease-in-out .4s;
}

.reveal:hover .reveal-content p {
  margin-top: 10px;
  opacity: 1;
  transition: margin .3s ease-in-out .6s,
              opacity .3s ease-in-out .6s;
}

.content {
    padding: 15px;
}
